.header {
    position: fixed;
    background-color: #D8E2DC;
    color: #D8E2DC;
    display: flex;
    align-items: center; 
    justify-content: right;
    width: 100%;
    height: 64px;
    padding: 0 40px 0 0;
}
.userData{
    display: flex;
    flex-direction: column;
    text-align: right;
    margin-right: 16px;
}
.userName{
    font-size: 1.2rem;
    color: black;
    font-style: normal;
    letter-spacing: 1px;
}
.userType{
    font-size: 0.8rem;  
    color: #524B4A;
    font-weight: light;
    letter-spacing: 1px;
}
.userPhoto{
    width: 40px;
}